* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

:root {
  font-size: 62.5%;
}

body {
  --bg-color: #FFFFFF;
  --bg-btnOn: #02799D;
  --bg-btnOff: #E1E1E6;
  --bg-soundOn: #FFFFFF;
  --ff-type: font-family: 'Roboto', sans-serif;
  --fc-time: #323238; 
  --bg-pressedBtn: #42D3FF;
  --bg-soundOff: #C4C4CC;
  --bg-slider: #323238;
  
  background-color: var(--bg-color);
  transition: all ease;
}

/* header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 6.4rem;
} */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19.2rem;
  height: 90vh;
}

main span{
font-family: 'Roboto';
font-weight: 500;
font-size: 12.6rem;
line-height: 14.8rem;
color: var(--fc-time)
}


button {
  border: none;
  background: none;
  cursor: pointer;
}

.player {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.backGroundSoundButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  max-width: 30.8rem;
  max-height: 33.6rem;
}

.forestButton, .rainButton, .coffeeShopButton, .firePlaceButton { 
  background-color: var(--bg-btnOff);
  padding: 4.8rem 4.7rem;
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;  
}

.timerButtons{
  display: flex;
  justify-content: space-evenly;
  gap: 4rem;
  }

.soundOn {
  background-color: var(--bg-btnOn);
  fill: var(--bg-soundOn);
  --bg-slider: #FFFFFF;
}

.darkMode {
  /* background-color: var(--bg-btnOff); */
  fill: var(--bg-soundOff);
 
  --bg-color: black;
  --bg-btnOn: #0A3442;
  --bg-btnOff: #29292E;
  --bg-soundOn: #FFFFFF;
  --fc-time: #FFFFFF; 
  --bg-pressedBtn: #42D3FF;
  --bg-soundOff: #C4C4CC;
  --bg-slider: #FFFFFF;
  transition: all ease;
}

.pressedButton {
  fill: var(--bg-pressedBtn);
  transition: all 80ms ease-in;
}

.hide {
  display: none;
}

img {
max-height: 4.8rem;
}

.lightModeImg img {
  max-height: 3.6rem;
}

.darkModeImg img {
  background-color: none;
}

.lightDarkMode {
  display: block;
  position: absolute;
  right: 6.4rem;
  top: 6.4rem;
}

/* input, .volumeSlider {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

.volumeSlider {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 10px;
  
}

.slider {
  appearance: none;
  width: 13.8 rem; /* Full-width */
  height: 5px; /* Specified height */
  background: var(--bg-slider); /* Grey background */
  outline: none; /* Remove outline */
  
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));  
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: var(--bg-slider);/* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
  outline: none;
}

@media (max-height: 400px) {
.lightDarkMode {
  display: none;
}
}

@media (max-width:1050px) {
.lightDarkMode {
  display: none;
}
}